<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaUnTeD LoCaTiOnS!!!!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
    <body>
        <nav>
            <div>
                <a href="#"></a>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/dashboard">dashboard</a></li>
                <li> <a href="/login">login</a></li>
                <li> <a href="/signup">signup</a></li>

            </ul>

            
            </div>
        </nav>                     
        <h3>THE HAUNTED MAPS!</h3>
        <div id="map"></div>
    


        <main>
            {{{ body }}}
        </main>
        <footer>
            WAS IT SCARY ENOUGH!!!
        </footer>
            
    </body>
    
<script
    src="/javascript/map.js">
</script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0o4awM4dEP0VGA6ETurpq9v0Pp9DfvU8&callback=initMap">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- <script src="/javascript/logout.js"></script> --}}

</html>

