.hero {
    background-image: url(file:///Users/calebportales/Project-2/spooky-clipart-background-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
.intro h2 {
    font-size: 55px;
    color: purple;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: blueviolet;
  }