
  body {
    background-image: url(https://images.pond5.com/black-and-white-grunge-horror-footage-095903118_iconl.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: copperplate;
    

  }
  nav {
      background-color: black;
  }
  .brown.darken-4 {
    background-color: black !important;
}
.blue-text {
    color:rgb(201, 27, 27) !important;
}
.brown-text.text-darken-2 {
    color: black !important;
    font-size: 25px;

}
footer {
    font-size: 30px;
    text-shadow: 1px 1px;
    text-align: center;
   
    
    
}
h3 {
    text-shadow: 1px 2px;
    text-align: center;
}
a.white-text.brown.darken-4 {
    background-color: black !important;
    text-align: center;
}
.green.lighten-2 {
    background-color: black !important;
}
