<div>
<h2>Login</h2>
<form class="login-form">
    <div>
        <label for="user-name">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
</div>
    <button class="submit-btn" type="submit">Login!</button>
    
    
</form>

<a href="/signup"> No Account? Signup Here!</a>



</div>

<script src="/javascript/signup.js"></script>









{{!-- <div class="row">
    <div class="col s6">
        <h4 class="flow">Please enter your login information to access the Dashboard.</h4>
        <form class="login-form"
     <div>
        <label for="user-name">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-signup" />
</div>
    <button class="submit-btn" type="submit">Sign Up!</button>
    
    
</form>
<a href="/signup"> No Account? Signup Here!</a>



</div> --}}

<script src="/javascript/signup.js"></script>

<script src="/javascript/login.js"></script>
