<<<<<<< HEAD

<form class="login-form" id= "login-id">
=======
<div>
<h2>login</h2>
<form class="login-form">
>>>>>>> 16ccc156419c51f5a914fd8519f4375945de03d4
    <div>
        <label for="user-name">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
</div>
    <button class="submit-btn" type="submit">login!</button>
    
    
</form>
<a href="/signup">Sign up Instead</a>


<<<<<<< HEAD
<script src="javascript/login.js"></script>
<script src="javascript/logout.js"></script>
<script src="javascript/signup.js"></script>
{{!-- <//script src="C:\Users\18182\Onedrive\Desktop\projects\haunted\Project-2\public\javascript\login.js"></script> --}}
=======

</div>

<script src="/javascript/login.js"></script>
>>>>>>> 16ccc156419c51f5a914fd8519f4375945de03d4
