<div class="col s6">
        <h4 class="flow">Please Sign Up. If you DARE!</h4>
        <form class="signup-form">
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>

            <div>
                <label for="password-signup">password:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="nameF">First Name:</label>
                <input type="text" id="nameF" />
            </div>
            <div>
                <label for="nameL">Last Name:</label>
                <input type="text" id="nameL" />
            </div>
            <div>
                <button class="btn-styles" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<scripts src="/javascript/signup.js"></scripts>